.post-header {
  max-width: var(--spacing-max-para-width);
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 40px;

  .label {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .title {
    font-size: 50px;
    line-height: 1.25;
    font-weight: bold;
    font-family: var(--ff-serif);
    transform: translate(-0.025em, 0);
  }

  .author-bar {
    margin-top: 12px;
    display: flex;
    font-size: 16px;
    line-height: 24px;

    .avatar {
      width: 24px;
      height: 24px;
      position: relative;
      overflow: hidden;
      border-radius: 1000px;
      margin-right: 8px;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }

    .author-name {
      margin-right: 8px;
      font-weight: bold;
    }

    .update {
      color: var(--color-sec);

      &::before {
        content: "·";
        margin-right: 8px;
      }
    }
  }
}