.container {
  display: flex;
  align-items: center;
  background-color: rgba(black, 0.03);
  border-radius: 1000px;
  padding: 8px 10px;
  width: 200px;

  &:hover {
    background-color: rgba(black, 0.04);
  }

  .icon {
    margin-right: 4px;
    color: var(--color-sec);
    font-size: 20px;
  }

  .input {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-main);

    /* Optional: Add a placeholder style */
    &::placeholder {
      font-size: 14px;
      line-height: 22px;
      color: var(--color-sec);
    }
  }
}
